@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Robot0o', sans-serif;
    
}

body {
    background-image: url("images/bg-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

                                          /*   header--section     */
.scrolling {
    position: relative;
    box-shadow: inset 5px 5px 5px  rgba(0,0,0,0.2);
}
                                         

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;  
    position: sticky;
    top: 0;
    padding: 10px 4%;
    
}  

nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    
}

nav .logo {
    font-size: 3.5rem;
    font-weight: bold;
    padding: 10px;
}

 nav ul {
    display: flex;
    align-items: center;
    padding: 25px 5%;
    list-style-type: none;
 }
 
 nav ul li a{  
    color: white;
    text-decoration: none;
    padding-left: 1.5rem;
    font-size: 1.8rem;
    font-weight: 500; 
 }

 .dropdown {
    position: relative;
    display: inline-block;
  }
 
  
 nav ul li:hover a{
    color: red;
    text-decoration: underline;
 }


 .dropdown-menu {
    display: none;
    position: absolute;
    left: 12px;;
    min-height: 200px;
    min-width: 200px;
  }


  .dropdown:hover .dropdown-menu {
    display: block;
     
  }

  .dropdown-menu li a {
    padding: 10px 0;
    text-decoration: none;
  }

  .dropdown-menu ul li:hover {
    color: red;
  }

 
 .language, .user {
    font-size: 1.8rem;
    font-weight: 500;
    padding-left: 1rem;
 }

 .user{
    background-color: white;
    color: black;
    border-radius: 30px;
    padding: 10px 25px;
    margin-left: 1.5rem;
    cursor: pointer;
 } 

 .user:hover{
   background-color: lightgray;
 }

                                          /* center--text */

  .center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 50vh;
    margin: 2% auto;
    
 }
 
 .main-content {
    font-size: 5rem;
    font-weight: 800;
    color: #fff;
    text-align: center;

}

.new-user{
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 70px;
    width: 300px;
    color: white;
    background: #FF577F;
    padding: 15px 30px;
    border: 1px solid #FF577F;
    border-radius: 30px;
    margin: 2rem auto;
}
  
                                    /* user----gallery */

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 5rem;
    height: 500px;
    width: 100vw;
    background-color: #fff;
    color: gray;
     
    
    
}

.gallery .child {

    width: 28%;
    height: 400px;
    border: 1px solid gainsboro;
    margin: 5px 10px 5px;
    padding: 2%;
    line-height: 1.5rem;
    font-size: 16px;
    float: left;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.child h2{
    color: black;
    margin-bottom: 15px; 
    width: 80%;
    border-bottom: 1px solid grey;
    padding-bottom: 15px;
    position: relative;
}

.child h2::after{
    content: "\201c";
    position: absolute;
    font-size: 7rem;
    color: grey;
    right: -4rem;
    top: 40px;

}
 
                                       /* bottom--nav */

.bottom-nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #fff;
    padding-left: 6rem;
    width: 100vw;

}

.baby {
    height: 200px;
    width: 275px;
}

.baby ul li {
    list-style-type: none;
    color: grey;
    margin-top: 10px;
}

.baby ul li a {
    text-decoration: none;
    color: black;
}

.baby ul li:hover a{
    color: #FF577F;

}

.social ul {
    display: flex;
    flex-direction: row;
}


.social ul li {
    margin-right: 2rem;
    font-size: 2rem;
}

 
 .play-store{
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #fff;
    margin-bottom: 11rem;
    margin-top: -2rem;
    padding-left: 6rem;
    width: 100vw;
    height: 150px;
 }


 .android-img, .apple-img {
    height: 60px;
    width: 150px;
    margin-left: 100px;
    cursor: pointer;
 }
 

 .android-img img, .apple-img img {
    width: 100%;
    height: 100%;
 }



                                       /* footer--section */
                    

 footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    float: center;
    font-size: 14px;
    background-color: white;
    color: grey;
    line-height: 1.2;
    padding: 2% 6% 1%;
    border-bottom: 1px solid grey;
    word-spacing: 2px;
    
 }

 footer .trademark{
    text-align: left;
    margin-top: 10px;
    margin-left: 75%;
 }



 