* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 100vw;

}

.offers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 90%;
}

.product {
    width: 310px;
    background-color: ghostwhite;
    margin: 1%;
    position: relative;
    /* box-shadow: 8px 8px 4px 3px black; */   
}
 

.image {
    height: 400px;
    width: 310px;
    position: relative;
}

.image img {
    width: 100%;
    height: 100%;
 
}

.icon {
    position: absolute;
    font-size: 1rem;
    height: 40px;
    width: 40px;
    color: black;
    background-color: black;
}

.image::before{
    content: '\f099';
    position: absolute;
    right: 0;
    color: black;
    font-weight: 900;
    font-size: 1.5rem;
    text-rendering: none;
    transition: all 1s;
    z-index: -1;
}

.image:hover:before{
    right: 20px;
    z-index: 1;
}


.part2{
    position: absolute;
    bottom: -130px;
    text-align: center;
    background-color: white;
    width: 100%;
    height: 150px;
    transition: all 0.5s;
}

.part2:hover {
    bottom: -60px;
}
 


.size {
    list-style-type: none;
    display: inline-flex;
    margin: 5px 0;
}

.size li{
    margin: 0 10px;
    border: 1px solid black;
    height: 20px;
    width: 25px;
    text-align: center;
    border-radius: 3px;
}

button {
    background-color: rgb(12, 185, 243);
    width: 160px;
    height: 40px;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    display: none;
    padding: auto;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding-top: 6px;
    border: 1px solid rgb(12, 185, 243);
}

.part2:hover button {
    display: block;
}

